/* app.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.thumbnail {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-bottom: 10px;
}

.App {
  text-align: center;
}

.page{
  padding-top: 80px ;
  display:flex;
  top:80px;
  height:100%; 
  width: 100%;
} 


.car-container {
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y : scroll;
  margin-top: 20px;
}

.btn{
  margin:10px;
  min-height: 3vh;
  padding: 2px;
}

@media only screen and (max-width: 600px) {
  .car-container {
    margin-left: 0;
    flex-direction: column;
  }
}
