/* app.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.App {
  text-align: center;
}

.page{
  padding-top: 80px ;
  display:flex;
  top:80px;
  height:100%; 
  width: 100%;
} 


.car-container {
  padding-left: 300px;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.btn{
  margin:10px;
  min-height: 3vh;
  padding: 2px;
}

