/* :root{
  --dark-theme-bg:var(--dark-theme-bg);
  --dark-theme-color:var(--dark-theme-bg);
  --light-theme-color:var(--dark-theme-bg);
  --light-theme-bg:var(--dark-theme-bg);
} */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
